<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="container jumbotron"">
        <div class=" row">
        <div class="col-12">
            <h1>Hello World</h1>
            <p>Welcome to About Page using EJS</p>
        </div>
    </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>